{% extends "base.html" %}

{% block title %}Registration Form{% endblock %}



{% block main_content %}
<div class="convreg-header" id="content" tabindex="-1">
	<div class="container"> 
		<div class="row">
			<h1 >Convention Registration</h1>
			<!-- <p>Registration form integrated with ROCK RMS.</p> -->
		</div>
	</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">	    
    <div class="navbar-header">      
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="navbar_to_append_special_transport">        
        <li id="create_family_url"> <a href="#register" onclick="create_family();">Create Family</a></li>         
      </ul>
      <div class="navbar-form navbar-left">
        <div class="form-group" id= "search_family_url">
          <input type="text"  class="form-control" id="txt_rock_family_name" 
          				name="txt_rock_family_name" placeholder="Search Family">        
        	<button type="submit"  id="btn_rock_family_name" name="btn_rock_family_name" class="btn btn-primary">Search</button>
        </div>
      
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row" id="finish_submit_btn_div" >
					<input type="button" id="finish_submit_btn" name="finish_submit_btn" class="btn btn-success" 
							value="Continue and Finish" />
		</div>	
<div class="container convreg-container" id="main_container_all">
	<div class="row" id="main_container">
		
		<div class="col-md-9" id="searched_family_list_row">									
			<div class="row" id="searched_family_list_div">				
				<ul id="searched_family_list"></ul>								
			</div>

			<div class="row" id="searched_family_of_person_list">			
				<ul id="searched_family_success_person_add"></ul>								
			</div>

			<div class="row" id="searched_family_list_btn">			
				<ul id="add_person_btn_in_family_search"></ul>								
			</div>

		</div>	
		

		<div class="row"  id="container_whole_body">
				<div class="row" id="create_family_container">
						<h3>New Family Info</h3>			 																
					<div class="input-group" >						
						<input type="text" class="form-control" id="txt_family_name" placeholder="Family Name">			      	   	
						<input type="button" value="Create" id="btn_family_name" class="btn btn-success" />				     	
					</div>				
				</div>					
				<div class="row" id="family_report_message"> </div>		
				


				<div class="row" id="html_add_person_parent">									
						<div class="row" id="add_person_after_submit"></div>		
						<div class="row" id="add_person_html_impt"> </div>
						<div class="row" id="html_add_person_sec"> </div>		
						<div class="row" id="html_add_airport"> </div>			
						<div class="row" id="html_add_contact"></div>
				</div>
		</div>
	</div>	
</div>		

<div class="row" id="transport_container"> </div>

<div class="container" id="additional_main_container">

	<div class="row" id="additional" >
		<div class="col-md-9">
			<div class="row" id="heading_for_arrival">				
				<h1>Arrival and Departure</h1>
				<div class="row" id="arrival_departure">					
					<label>From</label>				
					<input type="date"  class="form-control" name="arrival_date" id = "from_arrival_date">								 <label>To </label>				
					<input type="date"  name="depature_date"  class="form-control" id = "to_depature_date">
					<input type="submit" class="btn btn-success" name="arrival_and_departure" id="submit_arrival_and_departure" >
					<div class="row" id="error_arrival_and_departure"> </div>
				</div>													
			</div>			
		</div>
	</div>
</div>


{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "regmain/css/stylesheet.css" %} />
<link rel="stylesheet" type="text/css" href={% static "regmain/css/sweetalert.css" %} />
<script type="text/javascript" src={% static "regmain/models/base.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/contact.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/person.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/model_church.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/AirportInfo.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/att_types_id.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/specialrequest.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/transport.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/family_model.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/sweetalert.min.js" %}>
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



{% endblock %}

