{% extends "base.html" %}

{% block title %}Registration Form{% endblock %}



{% block main_content %}
<div class="convreg-header" id="content" tabindex="-1">
	<div class="container"> 
		<div class="row">
			<h1>Convention Registration</h1>
			<!-- <p>Registration form integrated with ROCK RMS.</p> -->
		</div>
	</div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">	    
    <div class="navbar-header">      
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li > <a href="#" onclick="append_family();">Create Family </a></li>
      </ul>
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" id="txt_rock_family_name" 
          				name="txt_rock_family_name" placeholder="Search Family">
        </div>
        <button type="submit" id="btn_rock_family_name" name="btn_rock_family_name" class="btn btn-primary">Search</button>
      
      <ul class="nav navbar-nav navbar-right">
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container convreg-container">
	<div class="row">
		<div class="col-md-9">			
			
			<div class="row">				
				<ul id="searched_family_list"></ul>								
			</div>

			<div class="row">			
				<ul id="searched_family_success_person_add"></ul>								
			</div>

			<div class="row">			
				<ul id="add_person_btn_in_family_search"></ul>								
			</div>

			<div class="row" id="create_family_container">
				<h3>New Family Info</h3>
				<form class="form-inline">
				<div class="form-group">				 
					<div class="input-group">			      
			      		<input type="text" class="form-control" id="txt_family_name" placeholder="Family Name">			      
			     	</div>
			     	<div class="input-group">
			     		<input type="button" value="Create" id="btn_family_name" class="btn btn-success" />	
			     	</div>				
				</div>
				</form>				
			</div>

			<div class="row"> 
				<div class="col-md-9" id="family_report_message">					
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row" id="add_person_after_submit"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row" id="add_person_html_impt"> </div>
			<div class="row" id="html_add_person_sec"> </div>
		</div>			
	</div>
	<div class="row" id="additional" hidden>
		<div class="col-md-9">
			<div class="row">
				<h1>Additional Info</h1>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label>Person</label>
				</div>
				<div class="col-sm-4">
					<input type="text" value="ID-Person Name" name="person" disabled>
				</div>					
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label>Event</label>
				</div>
				<div class="col-sm-4">
					<input type="text" value="Event Name" name="event" disabled>
				</div>									
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label>Primary Contact</label>
					Yes <input type="checkbox" value="primary_contact" checked>
					No <input type="checkbox" value="primary_contact" id="primary_contact">
				</div>							
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label>Arrival</label>
				</div>
				<div class="col-sm-4">
					<input type="date"  name="arrival_date" id = "arrival_date">
				</div>									
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label>Depature</label>
				</div>
				<div class="col-sm-4">
					<input type="date"  name="depature_date" id = "depature_date">
				</div>									
			</div>

			<div class="row">
				<div class="col-sm-4">
					<label>Do You have a Special Request ?</label>
				</div>
				<div class="col-sm-4">
					<input type="button" value="Add Speical Request" id="special_btn">
				</div>						
			</div>
			<div class="row" id="html_add_special"></div>
			<div class="row">
				<div class="col-sm-4">
					<label>Transportation</label>
				</div>
				<div class="col-sm-4">
					<input type="button" value="Add Transportation" id="transport_btn">
				</div>									
			</div>			
			<div class="row" id="html_add_transport"></div>
			<div class="row">
				<div class="col-sm-4">
					<input type="button" value="SUBMIT" id="additional_submit">
				</div>
			</div>
			</div>
		</div>
	</div>

</div>





{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "regmain/css/stylesheet.css" %} />

<script type="text/javascript" src={% static "regmain/models/base.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/person.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/model_church.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/contact.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/AirportInfo.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/att_types_id.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/specialrequest.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/transport.js" %}>
</script>
<script type="text/javascript" src={% static "regmain/models/family_model.js" %}>
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



{% endblock %}

