{% extend "base.html" %}
{% load bootstrap3 %}


{% block title %}Article{% endblock %}

{% block header %}

	<style type="text/css">
		.container{
			padding-right:100px;
		}
		
		#cont{
			padding-right: 290px;			
			box-sizing:100px;
		}

		#article_style{
			margin-right:1000px;
		}
	</style>
	

	<script type="text/javascript">
		$(document).ready(function(){
				var title = $("#id_title").val()
				console.log(title)
		});
	</script>

{% endblock %}

{% bootstrap_javascript %}
{% bootstrap_css %}

{% block main_content %}

{% bootstrap_form_errors form %}

<center>
<div class="container" id="article_style">
	<form class="form-horizontal  col-sm-3" enctype="multipart/form-data" action="" method = 'post'>
	{% csrf_token %}
	    {{ form.management_form }}
	    {{ form.media }}    

	    {% bootstrap_field form.author_name layout='inline' %}   
	    {% bootstrap_field form.article_name layout='inline' %}   
	    <div  id="cont" data-provide="markdown">
	    {% bootstrap_field form.content layout='inline' %}   
	    </div>
	    {% buttons submit=key reset="reset" button_size='lg' %}
	    {% endbuttons %}	
	    
	</form>
</div>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "regmain/css/article_css.css" %} />

</center>



{% endblock %}

