{% include "base.html" %}
{% load bootstrap3 %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'regmain/css/article_css.css' %}">	

{% block header %}	    
	<style type="text/css">
		.container{
			padding-top:100px;
			padding-right:400px;
		}
		
		#cont{
			padding-right: 290px;			
			box-sizing:100px;
		}
	</style>
	
{% endblock %} 
{% bootstrap_javascript %}
{% bootstrap_css %}

{% block main_content %}

{% bootstrap_form_errors form %}

{% comment %}
<div col-sm-6>
	<h1>Preview</h1>
	<div class="content-preview">
		<h3 id="preview-title">
			<p id="preview-content"></p>
		</h3>
	</div>
</div>

{% endcomment %}

<center>
<div class="container">
<form class="form-horizontal  col-sm-3" enctype="multipart/form-data" action="" method = 'post'>
{% csrf_token %}
    {{ form.management_form }}
    {{ form.media }}    

    {% bootstrap_field form.author_name layout='inline' %}   
    {% bootstrap_field form.article_name layout='inline' %}   
    <div  id="cont" data-provide="markdown">
    {% bootstrap_field form.content layout='inline' %}   
    </div>
    {% buttons submit=key reset="reset" button_size='lg' %}
    {% endbuttons %}	
    
</form>
</div>
</center>
{% endblock %}

