<!DOCTYPE html>
<html>
  <head>
    <title>NTC HQ - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" media="screen" charset="utf-8">
	

	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">	
	<link href="css/ntchq.css" rel="stylesheet" media="screen">
	
  </head>
  <body >			
	  <header>
	
	  </header>
	  <!-- Mast head Logo -->
	  <div class="row-fluid">
		  <div class="mast cutout">	  
		 	<!-- card -->
		 	<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
		 		<div class="flipper">
		 			<div class="front">
		 				<a href="#"><span class="image-wrap mastlogo"><img src="img/mast-login-logo2.png"></span></a>
		 			</div>
		 			<div class="back">
		 				<a href="#"><span class="image-wrap mastlogo"><span id="conv-time" class="countdown"></span></p></span></a>
		 			</div>
		 		</div>
		 	</div>	  
			<!-- card -->  
		  </div>
	  </div>
	  <!-- Mast head Logo -->
	  
	  	  
	  <div class="container ">		  
	    <div class="row-fluid">
			
			 <div class="span3">
			 </div>
			  <!-- login -->
	      <div class="span6">
			  <div class="well">
				  <div id="login_dialog" class="login_dialog clearfix">

				                <div id="user_name_login">
				                    <h1>Sign in with your <strong>Cornerstone ID</strong></h1>

								    <div class="input-prepend">
								      <span class="add-on"><i class="icon-user"></i></span>
								      <input type="text" id="txt_email" placeholder="User Name">
								    </div>
								    <div class="input-prepend">
								      <span class="add-on"><i class="icon-key"></i></span>
								      <input   type="password" id="txt_password" placeholder="Password">
								    </div>
				            
				                </div>
   
							     <button type="submit" class="btn btn-success">Sign in</button>
			     </div>
				  <p id="showHelp" class="text-center hide span12"><br>Contact Sue George <br><i class="icon-envelope-alt"></i> cornerstone@ntchq.org | <i class="icon-phone"> 551-587-8301</i>
				 </p>
				 <p class="text-center"><small class="help"><strong>Help!</strong> <a id="forgot" href="#">I can't sign in or I forgot my username/password</a></small></p> 	
			
				
			  </div>
	      </div>
	 	 	<!-- login -->
			
			
		 <div class="span3">
		 </div>
		 
	    </div>
	  </div>
				  

    <script src="http://code.jquery.com/jquery.js"></script>
	
	<script src="js/jquery.countdown.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/bootstrap.min.js"></script>
  <script>
 

      
  var liftoffTime = new Date("July 05, 2017 00:00:00");
  $.countdown.setDefaults({description: ' left'});
  $('#conv-time').countdown({until: liftoffTime, format: 'd'});
  //toggle on focus
  $('#txt_email').focus(function() {
   $(".flip-container").toggleClass("hover");
  });
  $('#txt_password').focus(function() {
   $(".flip-container").removeClass("hover");
  });
      $('#forgot').click(function () {
          $('#showHelp').slideToggle('slow', function () {

              // Animation complete.
              $('#forgot').html("");
          });
             
        });

  </script>
  </body>
</html>