
#finish_submit_btn{
		padding-left:50px;
		padding-right:50px;
		font-size:25px;
		margin-left:20px;
}

.navbar{		
		padding-left:30px;
		padding-right:10px;		
}

#create_family_container,#finish_submit_btn_div,#additional_main_container{
		visibility:hidden;
}

#create_family_container,#family_report_message{
		padding-left:25px;
}

.form-control{
		padding-top:20px;
		padding-bottom:20px;
}


#add_btn_airport,#btn_add_person_html{
		margin-right:20px;
}


#html_add_person_sec,#html_add_airport,#html_add_contact{
		margin-top:50px;
		margin-bottom:50px;
}




#the_airport_container{
  		width: 650px;
  		padding: 20px;
  		border: 1px solid;
  		border-color: lightpink;
  		margin-bottom : 50px;
  		margin-left:50px;			
}

#my_form_airport{
		margin-top:10px;
}

#btn_add_person_html,#add_btn_airport{
		visibility: hidden;
}


textarea {
    resize: none;
}



#my_form_person{
		margin-top:10px;
	
}

#the_person_container{								
  		width: 650px;
  		padding: 20px;
  		border: 1px solid;
  		border-color: lightgreen;
  		margin-bottom : 100px;
  		margin-left:50px;
}


#the_contact_container{
  		width: 650px;
  		padding: 20px;
  		border: 1px solid;
  		border-color: lightgrey;
  		margin-bottom : 50px;		
  		margin-left:50px;
}

#my_form_contact{
		margin-top:10px;
}

#txt_family_name{
	width:250px;
	margin-right:20px;
}

#btn_family_name{
	width:150px;
}

